* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
    background: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #111;
    color: skyblue;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

.hero {
    text-align: center;
    padding: 60px;
}

.skills {
    padding: 30px;
}

.bar {
    background: #ddd;
    height: 8px;
    margin: 10px 0;
    border-radius: 5px;
}

.bar span {
    display: block;
    height: 100%;
    background: #4CAF50;
    border-radius: 5px;
}

.projects {
    padding: 30px;
}

.card {
    background: lightpink;
    margin: 15px 0;
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.card:hover {
    transform: scale(1.05);
}

.contact {
    padding: 30px;
}

input, textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}

/* Dark Mode */
.dark {
    background: #121212;
    color: white;
}

.dark .card {
    background: #1e1e1e;
}